@tailwind base;
@tailwind components;
@tailwind utilities;

*{
margin: 0;
padding: 0;
box-sizing: border-box;
}

.bebasNeue {
  font-family: var(--font-bebasNeue);
}

body {
  background-color: #FAFBFD;
}